<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.bw.divers.board.BoardDAO">

<select id="categoryList"  resultType="board">
	select * from small_category
</select>

<insert id="boardWrite"  parameterType="hashmap">
	insert into post(small_category_num, title, content, user_num) values(#{category}, #{title}, #{content}, #{user_num})
</insert>

<select id="totalCount" resultType="int" parameterType="int">
	select count(*) from post where small_category_num = #{category} and post_state_num = 1
</select>

<select id="boardList" resultType="board">
	SELECT p.post_num, p.board_date, p.title, p.content, p.count, p.post_state_num,
	       u.nickname, sc.small_class_name, COUNT(tp.thumb_post_user_num) as recommend
	FROM post p
	JOIN `user` u ON p.user_num = u.user_num
	JOIN small_category sc ON p.small_category_num = sc.small_category_num
	LEFT JOIN thumb_post tp ON p.post_num = tp.post_num
	WHERE p.small_category_num = #{category} and p.post_state_num = 1
	GROUP BY p.post_num
	ORDER BY p.board_date desc limit 5 offset #{offset};
</select>

<select id="postDetail" resultType="board" parameterType="int">
	select p.post_num , p.user_num , p.small_category_num , p.board_date , p.title , p.count , p.post_state_num, p.content, p.small_category_num,
		u.nickname , sc.small_class_name, count(tp.thumb_post_user_num) as recommend
	from post p join `user` u on p.user_num = u.user_num 
	join small_category sc on p.small_category_num = sc.small_category_num
	left join thumb_post tp on p.post_num = tp.post_num
	where p.post_num = #{postNum}
	group by p.post_num;
</select>

<select id="thumbnail" resultType="String" parameterType="int">
	select content from post where post_num = #{postNum}
</select>

<update id="boardUpdate" parameterType="hashmap" >
	update post set title = #{title}, content = #{content}, small_category_num = #{category} where post_num = #{postNum}
</update>

<update id="boardDelete" parameterType="int">
	update post set post_state_num = 3 where post_num = #{postNum}
</update>

<insert id="commentWrite" parameterType="hashmap">
	insert into comment (user_num, post_num, comment) values(#{user_num}, #{post_num}, #{comment})
</insert>

<select id="commentTotalCount" resultType="int">
	select count(*) from comment where post_num = #{post_num} and comment_state_num = 1
</select>

<select id="commentList" resultType="board">
	SELECT c.comment_num, c.user_num, c.post_num, c.comment_date, c.comment,
		u.nickname, ANY_VALUE(p.new_filename) AS new_filename, COUNT(tc.thumb_comment_user) AS recommend
	FROM comment c  
	JOIN `user` u ON c.user_num = u.user_num
	left JOIN profile p ON u.user_num = p.user_num
	LEFT JOIN thumb_comment tc ON c.comment_num = tc.comment_num
	WHERE c.post_num = #{post_num}
	GROUP BY c.comment_num
	order by c.comment_date desc limit 10 offset #{offset}
</select>

</mapper>