<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.bw.divers.manage.ManageDAO">

<select id="totalCount" parameterType="hashmap" resultType="int">
	select count(*) from user u
	where (
		#{search_username} = '' or
		username like concat('%', #{search_username}, '%')
	)
</select>

<select id="userList" resultType="manage" parameterType="hashmap">
	select u.user_num, u.username, u.email, u.nickname, u.state_num, u.role_num, u.join_date,
		p.new_filename, (select count(*) from post p2 where p2.user_num = u.user_num) as postCount, (select count(*) from comment c where c.user_num = u.user_num) as commentCount
	from `user` u
	left join profile p on u.user_num = p.user_num
	where (
		#{search_username} = '' or
		username like concat('%', #{search_username}, '%')
	)
	order by u.role_num
	limit 10 offset #{offset}
	
</select>



</mapper>