<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.bw.divers.manage.ManageDAO">

<select id="totalCount" parameterType="hashmap" resultType="int">
	select count(*) from user u
	where (
		#{search_username} = '' or
		username like concat('%', #{search_username}, '%')
	)
</select>

<select id="userList" resultType="manage" parameterType="hashmap">
SELECT 
    u.user_num, 
    u.username, 
    u.email, 
    u.nickname, 
    u.state_num, 
    u.role_num, 
    u.join_date,
    p.new_filename, 
    (SELECT COUNT(*) FROM post p2 WHERE p2.user_num = u.user_num) AS postCount, 
    (SELECT COUNT(*) FROM comment c WHERE c.user_num = u.user_num) AS commentCount,
    (SELECT COUNT(r.user_num) FROM report r JOIN `user` u1 ON u1.user_num = r.user_num WHERE u1.user_num = u.user_num) AS reportCount,
    (SELECT COUNT(l.sort_num) FROM log l JOIN `user` u2 ON u2.user_num = l.user_num WHERE u2.user_num = u.user_num AND l.sort_num = 2) AS sspsCount
FROM 
    `user` u
LEFT JOIN 
    profile p ON u.user_num = p.user_num
WHERE 
    (#{search_username} = '' OR 
    username LIKE CONCAT('%', #{search_username}, '%') or
    nickname like concat('%', #{search_username}, '%')
    )
ORDER BY 
    CASE WHEN #{sort} = "" THEN u.role_num end asc,
    CASE WHEN #{sort} = 'join_date'  and #{direction} = 'asc' THEN u.join_date end asc,
    CASE WHEN #{sort} = 'join_date'  and #{direction} = 'desc' THEN u.join_date end desc,
    CASE WHEN #{sort} = 'reportCount' and #{direction} = 'asc' THEN reportCount end asc,
    CASE WHEN #{sort} = 'reportCount' and #{direction} = 'desc' THEN reportCount end desc,
    CASE WHEN #{sort} = 'sspsCount' and #{direction} = 'asc' THEN sspsCount end asc,
    CASE WHEN #{sort} = 'sspsCount' and #{direction} = 'desc' THEN sspsCount end desc
LIMIT 10 OFFSET #{offset};

</select>

<update id="userRole" parameterType="hashmap">
	update user set role_num = #{role_num} where username = #{username}
</update>

<update id="userState" parameterType="hashmap">
	update user set state_num = #{state_num} where username = #{username}
</update>

<select id="userInfo" parameterType="int" resultType="manage">
	select u.username, u.nickname, u.email, u.role_num, u.state_num,
		(SELECT COUNT(r.user_num) FROM report r JOIN `user` u1 ON u1.user_num = r.user_num WHERE u1.user_num = u.user_num) AS reportCount,
    	(SELECT COUNT(l.sort_num) FROM log l JOIN `user` u2 ON u2.user_num = l.user_num WHERE u2.user_num = u.user_num AND l.sort_num = 2) AS sspsCount,
    	(select new_filename from profile p where p.user_num = u.user_num ) as new_filename
	from `user` u 
	where u.user_num = #{user_name}
</select>

<select id="userPost" parameterType="int" resultType="manage">
	select p.post_num, p.title, p.board_date, p.count, p.post_state_num from post p where p.user_num = #{user_num}
</select>

<select id="userComment" parameterType="int" resultType="manage">
	select c.comment_num, c.comment_date, c.comment, c.comment_state_num, c.post_num,
		(select count(tc.thumb_comment_user) from thumb_comment tc where tc.comment_num = c.comment_num) as thumbCommentCount  
	from comment c where c.user_num = #{user_num} group by c.comment_num
</select>

<select id="userReport" parameterType="int" resultType="manage">
	select count(r.post_num) as postReportCount, count(r.comment_num) as commentReportCount from report r where r.user_num = #{user_num};
</select>

<select id="userLog" parameterType="int" resultType="manage">
	select * from log l
	join log_factor lf on lf.alter_num = l.alter_num
	join log_sort ls on ls.sort_num = l.sort_num
	where l.user_num = #{user_num}
</select>

</mapper>