<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.bw.divers.user.UserDAO">

<select id="usernameCheck"  resultType="int">
	select count(*) from user where username = #{username}
</select>

<select id="emailCheck" resultType="int">
	select count(*) from user where email = #{email}
</select>

<select id="nicknameCheck" resultType="int">
	select count(*) from user where nickname = #{nickname}
</select>

<insert id="join" parameterType="hashmap" >
	insert into user (username, password, email, nickname) values(#{username}, #{password}, #{email}, #{nickname})
</insert>

<select id="enc_pw" resultType="String">
	select password from user where username = #{username}
</select>

<select id="login" resultType="user">
	select * from user, `role` r where user.role_num = r.role_num and user.username = #{username}
</select>

<select id="getUserbyUsername" resultType="user">
	select * from user, `role` r where user.role_num = r.role_num and user.username = #{username}
</select>

<select id="idFind" resultType="String">
	select username from user where email = #{email}
</select>

<select id="findEmail" resultType="String">
	select email from user where username = #{username}
</select>

<update id="pwResetFunc">
	update user set password=#{enc_password} where username = #{username}
</update>

</mapper>